body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #17171B;
  margin: 0;
  padding: 20px;
  color: #E0E0E0;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #1F1F23;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

h2 {
  text-align: center;
  color: #E0E0E0;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: 500;
  color: #E0E0E0;
}

input[type="file"],
input[type="text"],
input[type="datetime-local"],
textarea {
  width: 100%;
  padding: 10px 12px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #3A3A3A;
  background-color: #2B2B2F;
  color: #E0E0E0;
}

input[type="file"]::file-selector-button {
  background-color: #444;
  color: #E0E0E0;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

textarea {
  height: 100px;
  resize: vertical;
}

.linha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.botoes-variaveis {
  margin-top: 15px;
}

.botoes-variaveis button {
  margin-right: 10px;
  margin-top: 8px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #0066cc;
  border: none;
  color: white;
  transition: background-color 0.3s;
}

.botoes-variaveis button:hover {
  background-color: #004999;
}

button[type="submit"],
button[type="button"] {
  margin-top: 25px;
  padding: 10px 15px;
  background-color:#123f1d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #123f1d;
}

.mensagem-preview {
  margin-top: 20px;
  padding: 20px;
  background: #1f1f23;
  border: 1px solid #444;
  border-left: 5px solid #28a745; /* destaque na borda esquerda */
  border-radius: 8px;
  font-family: "Courier New", monospace;
  color: #17171B;
  white-space: pre-line;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
